.contenedor{
    position: absolute;
    left: 45%;
    top: 40%;
    text-align: center;
}

body{
    background: url(../img/concepto-collage-control-calidad-estandar.jpg);
    background-repeat: no-repeat;
    padding: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}   